## Pandas

In [16]:
import pandas as pd  
import numpy as np

In [17]:
indices = ["Ted Lasso","Parks Recreation","Vikings", "Suits", "Breaking bad"]
colunas = ["Nota", "Temporadas", "Episodios"]
dados = [[9, 4, 34], [9, 7, 125], [9, 6, 89], [8, 9, 134], [10, 5, 62]]

df = pd.DataFrame(dados, index=indices, columns=colunas)
print(df)
print("#"*40)

                  Nota  Temporadas  Episodios
Ted Lasso            9           4         34
Parks Recreation     9           7        125
Vikings              9           6         89
Suits                8           9        134
Breaking bad        10           5         62
########################################

In [18]:
print("Nota:")
print(df["Nota"], "\n")
print("Temporadas:")
print(df["Temporadas"], "\n")
print("Episodios:")
print(df["Episodios"], "\n")

Nota:
Ted Lasso            9
Parks Recreation     9
Vikings              9
Suits                8
Breaking bad        10
Name: Nota, dtype: int64

Temporadas:
Ted Lasso           4
Parks Recreation    7
Vikings             6
Suits               9
Breaking bad        5
Name: Temporadas, dtype: int64

Episodios:
Ted Lasso            34
Parks Recreation    125
Vikings              89
Suits               134
Breaking bad         62
Name: Episodios, dtype: int64

In [19]:
print("Nota e episodios:")
print(df[["Nota", "Episodios"]], "\n")

print("Suits")
print(df.loc["Suits"], "\n")

print("Suits")
print(df.iloc[3], "\n")

print("Nota de Suits:", df.loc["Suits", "Nota"])
print("Tipo de Nota de Suits:", type(df.loc["Suits", "Nota"])) # vem do numpy

#outras maneiras

print("Nota de Suits:", df.iloc[3, 0])
print("Nota de Suits:", df.at["Suits", "Nota"], "\n")

Nota e episodios:
                  Nota  Episodios
Ted Lasso            9         34
Parks Recreation     9        125
Vikings              9         89
Suits                8        134
Breaking bad        10         62

Suits
Nota            8
Temporadas      9
Episodios     134
Name: Suits, dtype: int64

Suits
Nota            8
Temporadas      9
Episodios     134
Name: Suits, dtype: int64

Nota de Suits: 8
Tipo de Nota de Suits: <class 'numpy.int64'>
Nota de Suits: 8
Nota de Suits: 8

In [20]:
print("Ted Lasso e Parks Recreation, Nota e Temporada")
print(df.loc[["Ted Lasso", "Parks Recreation"], ["Nota", "Temporadas"]])

print("Usando Slice")
print(df.loc["Parks Recreation":"Suits", "Temporadas":])
print(df.loc[:, ["Nota", "Temporadas"]])

Ted Lasso e Parks Recreation, Nota e Temporada
                  Nota  Temporadas
Ted Lasso            9           4
Parks Recreation     9           7
Usando Slice
                  Temporadas  Episodios
Parks Recreation           7        125
Vikings                    6         89
Suits                      9        134
                  Nota  Temporadas
Ted Lasso            9           4
Parks Recreation     9           7
Vikings              9           6
Suits                8           9
Breaking bad        10           5

In [21]:
#Operacoes

print(df.head(2))
print(df.tail(2))
print("\n")

print("Valores Unicos de Nota \n")
print(df["Nota"].unique())
print(df["Nota"].nunique())

print("Contagem \n")
print(df["Nota"].count())

print("Contagem de Valores \n")
print(df["Nota"].value_counts())
######################################

                  Nota  Temporadas  Episodios
Ted Lasso            9           4         34
Parks Recreation     9           7        125
              Nota  Temporadas  Episodios
Suits            8           9        134
Breaking bad    10           5         62


Valores Unicos de Nota

[ 9  8 10]
3
Contagem

5
Contagem de Valores

Nota
9     3
8     1
10    1
Name: count, dtype: int64

In [22]:
df.at["Vikings", "Nota"] = 5

print("Valores Unicos de Nota \n")
print(df["Nota"].unique())
print(df["Nota"].nunique())

print("Contagem \n")
print(df["Nota"].count())

print("Contagem de Valores \n")
print(df["Nota"].value_counts())

Valores Unicos de Nota

[ 9  5  8 10]
4
Contagem

5
Contagem de Valores

Nota
9     2
5     1
8     1
10    1
Name: count, dtype: int64

In [23]:
print("Nota minima nos dados:", df["Nota"].min())
print("Nota maxima nos dados", df["Nota"].max())
print("Media das notas dos alunos", df["Nota"].mean())
print("Mediana das notas dos dados", df["Nota"].median())

Nota minima nos dados: 5
Nota maxima nos dados 10
Media das notas dos alunos 8.2
Mediana das notas dos dados 9.0

In [24]:
print(df.columns)
print(df.columns.to_list())
print(df.columns.to_numpy())

Index(['Nota', 'Temporadas', 'Episodios'], dtype='object')
['Nota', 'Temporadas', 'Episodios']
['Nota' 'Temporadas' 'Episodios']

In [25]:
df["Coluna Extra"] = df["Nota"]/2
print(df["Coluna Extra"])

df.drop("Coluna Extra", axis = 1, inplace=True)
print(df)

df.drop("Vikings", inplace=True)
print(df)

Ted Lasso           4.5
Parks Recreation    4.5
Vikings             2.5
Suits               4.0
Breaking bad        5.0
Name: Coluna Extra, dtype: float64
                  Nota  Temporadas  Episodios
Ted Lasso            9           4         34
Parks Recreation     9           7        125
Vikings              5           6         89
Suits                8           9        134
Breaking bad        10           5         62
                  Nota  Temporadas  Episodios
Ted Lasso            9           4         34
Parks Recreation     9           7        125
Suits                8           9        134
Breaking bad        10           5         62

In [26]:
print(df["Nota"]>8)
print(df[(df["Nota"]>8) & (df["Temporadas"]>6)])

Ted Lasso            True
Parks Recreation     True
Suits               False
Breaking bad         True
Name: Nota, dtype: bool
                  Nota  Temporadas  Episodios
Parks Recreation     9           7        125

In [30]:
indices = ["Aluno 1", "Aluno 2", "Aluno 3"]
colunas = ["nome", "idade", "matricula"]
dados = [["Nome 1", 15, 100], ["Nome 2", 21, np.nan], ["Nome 3", 27, 43]]
df = pd.DataFrame(dados, index=indices, columns=colunas)
print(df)
print(df.isnull())
print("\n\n", df["matricula"].isnull(), sep = "")
print("\n\n", df[df["matricula"].isnull()], sep = "")

df.dropna(thresh=1, inplace=True)
print(df)

           nome  idade  matricula
Aluno 1  Nome 1     15      100.0
Aluno 2  Nome 2     21        NaN
Aluno 3  Nome 3     27       43.0
          nome  idade  matricula
Aluno 1  False  False      False
Aluno 2  False  False       True
Aluno 3  False  False      False


Aluno 1    False
Aluno 2     True
Aluno 3    False
Name: matricula, dtype: bool


           nome  idade  matricula
Aluno 2  Nome 2     21        NaN
           nome  idade  matricula
Aluno 1  Nome 1     15      100.0
Aluno 2  Nome 2     21        NaN
Aluno 3  Nome 3     27       43.0